# *Series*

In [1]:
import numpy as np
import pandas as pd

In [1]:
salary = pd.Series([3, 2, 0, 1])
salary

0    3
1    2
2    0
3    1
dtype: int64

In [6]:
salary[0]

np.int64(3)

In [7]:
salary[3]

np.int64(1)

In [8]:
salary = pd.Series([3, 2, 0, 1], ['Mon', 'Tues', 'Wen', 'Th'])
salary

Mon     3
Tues    2
Wen     0
Th      1
dtype: int64

In [9]:
salary['Mon']

np.int64(3)

In [10]:
salary['Wen']

np.int64(0)

In [12]:
data = {'a': 1, 'b': 2, 'c': 3}
salary = pd.Series(data)
salary

a    1
b    2
c    3
dtype: int64

In [13]:
a = 8
salary = pd.Series(a, [1, 2, 3])
salary

1    8
2    8
3    8
dtype: int64

In [3]:
s1 = pd.Series([1, 2, 3], ['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], ['a', 'b', 'w']) 
s3 = s1 + s2
s3

a    2.0
b    4.0
c    NaN
w    NaN
dtype: float64

In [4]:
s1[s1>2]

c    3
dtype: int64

In [20]:
s1[:2]

a    1
b    2
dtype: int64

In [21]:
s1 + 2

a    3
b    4
c    5
dtype: int64

# *Dataframes*

In [5]:
import pandas as pd
import numpy as np
from numpy.random  import randn

In [6]:
df = pd.DataFrame(randn(4, 4), ['a', 'b', 'c', 'd'], ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a  0.256503  0.664462 -1.444432 -0.475513
b  1.234971 -0.103937  0.410637 -0.382746
c  0.539986  1.484119 -0.341863 -1.166681
d  0.859745  0.587589 -0.581911 -0.053804

In [26]:
df[['A', 'D']]

          A         D
a  0.045217 -2.340476
b -0.043841  0.070707
c -0.230888  0.725242
d  1.053252 -0.026661

In [7]:
df['new'] = df['A'] + df['C']
df

          A         B         C         D       new
a  0.256503  0.664462 -1.444432 -0.475513 -1.187928
b  1.234971 -0.103937  0.410637 -0.382746  1.645607
c  0.539986  1.484119 -0.341863 -1.166681  0.198123
d  0.859745  0.587589 -0.581911 -0.053804  0.277834

In [32]:
df.drop('a')

          A         B         C         D       new
b -0.043841 -0.354183  0.951457  0.070707  0.907616
c -0.230888 -0.861797 -0.291773  0.725242 -0.522662
d  1.053252 -2.325644 -0.724363 -0.026661  0.328889

In [33]:
df

          A         B         C         D       new
a  0.045217  0.590174 -0.397295 -2.340476 -0.352078
b -0.043841 -0.354183  0.951457  0.070707  0.907616
c -0.230888 -0.861797 -0.291773  0.725242 -0.522662
d  1.053252 -2.325644 -0.724363 -0.026661  0.328889

In [34]:
df.drop('a', inplace=True)
df

          A         B         C         D       new
b -0.043841 -0.354183  0.951457  0.070707  0.907616
c -0.230888 -0.861797 -0.291773  0.725242 -0.522662
d  1.053252 -2.325644 -0.724363 -0.026661  0.328889

In [8]:
df.drop('new', axis=1, inplace=True)
df

          A         B         C         D
a  0.256503  0.664462 -1.444432 -0.475513
b  1.234971 -0.103937  0.410637 -0.382746
c  0.539986  1.484119 -0.341863 -1.166681
d  0.859745  0.587589 -0.581911 -0.053804

In [9]:
df.shape

(4, 4)

In [37]:
df.loc['c']

A   -0.230888
B   -0.861797
C   -0.291773
D    0.725242
Name: c, dtype: float64

In [38]:
df['B']

b   -0.354183
c   -0.861797
d   -2.325644
Name: B, dtype: float64

In [39]:
df.iloc[0]

A   -0.043841
B   -0.354183
C    0.951457
D    0.070707
Name: b, dtype: float64

In [10]:
df

          A         B         C         D
a  0.256503  0.664462 -1.444432 -0.475513
b  1.234971 -0.103937  0.410637 -0.382746
c  0.539986  1.484119 -0.341863 -1.166681
d  0.859745  0.587589 -0.581911 -0.053804

In [11]:
df.loc['c', 'B']

np.float64(1.4841193445210226)

In [43]:
df.loc[['c', 'd'], ['B', 'C']]

          B         C
c -0.861797 -0.291773
d -2.325644 -0.724363

In [12]:
df[df>0]

          A         B         C   D
a  0.256503  0.664462       NaN NaN
b  1.234971       NaN  0.410637 NaN
c  0.539986  1.484119       NaN NaN
d  0.859745  0.587589       NaN NaN

In [13]:
df['B']>0

a     True
b    False
c     True
d     True
Name: B, dtype: bool

In [15]:
df[df['B']>1]

          A         B         C         D
c  0.539986  1.484119 -0.341863 -1.166681

In [50]:
df.reset_index()

  index         A         B         C         D
0     b -0.043841 -0.354183  0.951457  0.070707
1     c -0.230888 -0.861797 -0.291773  0.725242
2     d  1.053252 -2.325644 -0.724363 -0.026661

In [16]:
df = pd.read_csv('Real_Estate_Sales_2001-2022_GL.csv')
df

C:\Users\User\AppData\Local\Temp\ipykernel_6096\2940241938.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Real_Estate_Sales_2001-2022_GL.csv')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,NaN,NaN,NaN,NaN
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,NaN,NaN,NaN,POINT (-72.879115982 41.773452988)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097624,2200073,2022,10/11/2022,Stamford,193 SADDLE HILL ROAD,483380.0,865000.0,0.5588,Residential,Single Family,NaN,NaN,NaN,POINT (-73.577612999 41.148977983)
1097625,220369,2022,09/29/2023,Wethersfield,37 LUCA LN,20650.0,760857.0,0.0271,Residential,Single Family,07 - Change in Property,NEW CONSTRUCTION - NOT COMPLETE FOR 10/1/2022,NaN,POINT (-72.663607 41.712487)
1097626,2200470,2022,01/09/2023,Stamford,1096 EAST MAIN STREET #16-D-1,132900.0,220000.0,0.6040,Residential,Condo,NaN,NaN,NaN,POINT (-73.515726977 41.057837988)
1097627,22396,2022,09/26/2023,Old Saybrook,115 SHEFFIELD ST,1099400.0,1575000.0,0.6980,Residential,Single Family,NaN,NaN,NaN,POINT (-72.368005967 41.289124997)
1097628,220890,2022,05/18/2023,Southington,32 SOUTHINGTON AV,135860.0,330000.0,0.4117,Residential,Single Family,07 - Change in Property,NaN,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-72.87929502 41.590926988)

In [58]:
df.head(2)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN

In [59]:
df.tail(2)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
1097627,22396,2022,09/26/2023,Old Saybrook,115 SHEFFIELD ST,1099400.0,1575000.0,0.6980,Residential,Single Family,NaN,NaN,NaN,POINT (-72.368005967 41.289124997)
1097628,220890,2022,05/18/2023,Southington,32 SOUTHINGTON AV,135860.0,330000.0,0.4117,Residential,Single Family,07 - Change in Property,NaN,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-72.87929502 41.590926988)

In [60]:
df.sample(2)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
493817,60157,2006,01/19/2007,South Windsor,14 MILLER RD,122840.0,219900.0,0.558618,Single Family,Single Family,06 - Portion of Property,NaN,NaN,NaN
137827,10184,2001,05/28/2002,Stafford,89 FURNACE AVE UT S3,36400.0,75000.0,0.485333,NaN,NaN,NaN,NaN,NaN,POINT (-72.29978 41.96393)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097629 entries, 0 to 1097628
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial Number     1097629 non-null  int64
 1   List Year         1097629 non-null  int64
 2   Date Recorded     1097627 non-null  object
 3   Town              1097629 non-null  object
 4   Address           1097578 non-null  object
 5   Assessed Value    1097629 non-null  float64
 6   Sale Amount       1097629 non-null  float64
 7   Sales Ratio       1097629 non-null  float64
 8   Property Type     715183 non-null   object
 9   Residential Type  699240 non-null   object
 10  Non Use Code      313451 non-null   object
 11  Assessor Remarks  171228 non-null   object
 12  OPM remarks       13031 non-null    object
 13  Location          298111 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 117.2+ MB

In [63]:
df.describe()

       Serial Number     List Year  Assessed Value   Sale Amount   Sales Ratio
count   1.097629e+06  1.097629e+06    1.097629e+06  1.097629e+06  1.097629e+06
mean    5.370357e+05  2.011218e+03    2.818016e+05  4.053146e+05  9.603926e+00
std     7.526074e+06  6.773485e+00    1.657890e+06  5.143492e+06  1.801664e+03
min     0.000000e+00  2.001000e+03    0.000000e+00  0.000000e+00  0.000000e+00
25%     3.071300e+04  2.005000e+03    8.909000e+04  1.450000e+05  4.778667e-01
50%     8.070600e+04  2.011000e+03    1.405800e+05  2.330000e+05  6.105663e-01
75%     1.703410e+05  2.018000e+03    2.282700e+05  3.750000e+05  7.707200e-01
max     2.000500e+09  2.022000e+03    8.815100e+08  5.000000e+09  1.226420e+06

In [67]:
df = pd.DataFrame({
    'Name': [
        'Canada',
        'France',
        'Germany',
        'Italy',
        'Japan',
        'United Kingdom',
        'United States',
    ],
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
})

In [ ]:
df

             Name  Population       GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387       9984670  0.913   America
1          France      63.951   2833687        640679  0.888    Europe
2         Germany      80.940   3874437        357114  0.916    Europe
3           Italy      60.665   2167744        301336  0.873    Europe
4           Japan     127.061   4602367        377930  0.891      Asia
5  United Kingdom      64.511   2950039        242495  0.907    Europe
6   United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.columns

Index(['Name', 'Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
df.size

42

In [ ]:
df.shape

(7, 6)

In [ ]:
df.dtypes

Name             object
Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

## Індексування та відбір

In [66]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,NaN,NaN,NaN,NaN
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,NaN,NaN,NaN,POINT (-72.879115982 41.773452988)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097624,2200073,2022,10/11/2022,Stamford,193 SADDLE HILL ROAD,483380.0,865000.0,0.5588,Residential,Single Family,NaN,NaN,NaN,POINT (-73.577612999 41.148977983)
1097625,220369,2022,09/29/2023,Wethersfield,37 LUCA LN,20650.0,760857.0,0.0271,Residential,Single Family,07 - Change in Property,NEW CONSTRUCTION - NOT COMPLETE FOR 10/1/2022,NaN,POINT (-72.663607 41.712487)
1097626,2200470,2022,01/09/2023,Stamford,1096 EAST MAIN STREET #16-D-1,132900.0,220000.0,0.6040,Residential,Condo,NaN,NaN,NaN,POINT (-73.515726977 41.057837988)
1097627,22396,2022,09/26/2023,Old Saybrook,115 SHEFFIELD ST,1099400.0,1575000.0,0.6980,Residential,Single Family,NaN,NaN,NaN,POINT (-72.368005967 41.289124997)
1097628,220890,2022,05/18/2023,Southington,32 SOUTHINGTON AV,135860.0,330000.0,0.4117,Residential,Single Family,07 - Change in Property,NaN,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-72.87929502 41.590926988)

In [ ]:
df['Population']

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: Population, dtype: float64

In [68]:
df[['Name', 'Population']]

             Name  Population
0          Canada      35.467
1          France      63.951
2         Germany      80.940
3           Italy      60.665
4           Japan     127.061
5  United Kingdom      64.511
6   United States     318.523

Для індексування `DataFrame` як матрицю `numpy` можна використовувати метод iloc

In [ ]:
df.iloc[:, 0]

0            Canada
1            France
2           Germany
3             Italy
4             Japan
5    United Kingdom
6     United States
Name: Name, dtype: object

Якщо потрібно вказувати не індекси, а назви стовпців, то використовуємо метод loc

In [ ]:
df.loc[:, ['Name', 'Population']]

             Name  Population
0          Canada      35.467
1          France      63.951
2         Germany      80.940
3           Italy      60.665
4           Japan     127.061
5  United Kingdom      64.511
6   United States     318.523

## Умовний вибір (булеві масиви)

Ми бачили умовний вибір, застосований в `numpy`, і він працюватиме таким же чином для `DataFrame`.

In [ ]:
df

             Name  Population       GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387       9984670  0.913   America
1          France      63.951   2833687        640679  0.888    Europe
2         Germany      80.940   3874437        357114  0.916    Europe
3           Italy      60.665   2167744        301336  0.873    Europe
4           Japan     127.061   4602367        377930  0.891      Asia
5  United Kingdom      64.511   2950039        242495  0.907    Europe
6   United States     318.523  17348075       9525067  0.915   America

In [ ]:
df['Population'] > 70

0    False
1    False
2     True
3    False
4     True
5    False
6     True
Name: Population, dtype: bool

In [ ]:
df[df['Population'] > 70]

            Name  Population       GDP  Surface Area    HDI Continent
2        Germany      80.940   3874437        357114  0.916    Europe
4          Japan     127.061   4602367        377930  0.891      Asia
6  United States     318.523  17348075       9525067  0.915   America

Булева маска дозволяє вибрати потрібні рядки, враховуючи всі стовпчики. Якщо потрібно вибрати лише деякі стовпці, то використовуємо метод `.loc`

In [ ]:
df.loc[df['Population'] > 70, 'Name']

2          Germany
4            Japan
6    United States
Name: Name, dtype: object

In [ ]:
df.loc[df['Population'] > 70, ['Name', 'Population', 'GDP']]

            Name  Population       GDP
2        Germany      80.940   3874437
4          Japan     127.061   4602367
6  United States     318.523  17348075

## Видалення

In [69]:
df.drop(columns=['Population'])

             Name       GDP  Surface Area    HDI Continent
0          Canada   1785387       9984670  0.913   America
1          France   2833687        640679  0.888    Europe
2         Germany   3874437        357114  0.916    Europe
3           Italy   2167744        301336  0.873    Europe
4           Japan   4602367        377930  0.891      Asia
5  United Kingdom   2950039        242495  0.907    Europe
6   United States  17348075       9525067  0.915   America

In [70]:
df.drop(columns=['Population', 'HDI'])

             Name       GDP  Surface Area Continent
0          Canada   1785387       9984670   America
1          France   2833687        640679    Europe
2         Germany   3874437        357114    Europe
3           Italy   2167744        301336    Europe
4           Japan   4602367        377930      Asia
5  United Kingdom   2950039        242495    Europe
6   United States  17348075       9525067   America

In [71]:
df.drop(['Population', 'HDI'], axis=1)

             Name       GDP  Surface Area Continent
0          Canada   1785387       9984670   America
1          France   2833687        640679    Europe
2         Germany   3874437        357114    Europe
3           Italy   2167744        301336    Europe
4           Japan   4602367        377930      Asia
5  United Kingdom   2950039        242495    Europe
6   United States  17348075       9525067   America

In [72]:
df.drop(['Population', 'HDI'], axis='columns')

             Name       GDP  Surface Area Continent
0          Canada   1785387       9984670   America
1          France   2833687        640679    Europe
2         Germany   3874437        357114    Europe
3           Italy   2167744        301336    Europe
4           Japan   4602367        377930      Asia
5  United Kingdom   2950039        242495    Europe
6   United States  17348075       9525067   America

In [ ]:
df

             Name  Population       GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387       9984670  0.913   America
1          France      63.951   2833687        640679  0.888    Europe
2         Germany      80.940   3874437        357114  0.916    Europe
3           Italy      60.665   2167744        301336  0.873    Europe
4           Japan     127.061   4602367        377930  0.891      Asia
5  United Kingdom      64.511   2950039        242495  0.907    Europe
6   United States     318.523  17348075       9525067  0.915   America


## Операції

In [ ]:
df[['Population', 'GDP']]

   Population       GDP
0      35.467   1785387
1      63.951   2833687
2      80.940   3874437
3      60.665   2167744
4     127.061   4602367
5      64.511   2950039
6     318.523  17348075

In [ ]:
df['Population'] * 1000

0     35467.0
1     63951.0
2     80940.0
3     60665.0
4    127061.0
5     64511.0
6    318523.0
Name: Population, dtype: float64

In [ ]:
df['Population'].sum()

751.118

In [ ]:
df['GDP'] / df['Population']

0    6.332232e+07
1    1.812171e+08
2    3.135969e+08
3    1.315062e+08
4    5.847814e+08
5    1.903100e+08
6    5.525761e+09
dtype: float64

## Зміна даних

Це просто та інтуїтивно зрозуміло. Ви можете без проблем додавати стовпці або замінювати значення для стовпців:

### Додавання нового стовпця

In [ ]:
df['Language'] = ['English', 'French', 'German', 'Italian', 'Jananese', 'English', 'English']

In [ ]:
df

,Name,Population,GDP,Surface Area,HDI,Continent,Language
0,Canada,35.467,1785387,9984670,0.913,America,English
1,France,63.951,2833687,640679,0.888,Europe,French
2,Germany,80.940,3874437,357114,0.916,Europe,German
3,Italy,60.665,2167744,301336,0.873,Europe,Italian
4,Japan,127.061,4602367,377930,0.891,Asia,Jananese
5,United Kingdom,64.511,2950039,242495,0.907,Europe,English
6,United States,318.523,17348075,9525067,0.915,America,English

---
### Заміна значень у стовпці

In [ ]:
df['Language'] = 'English'

In [ ]:
df

,Name,Population,GDP,Surface Area,HDI,Continent,Language
0,Canada,35.467,1785387,9984670,0.913,America,English
1,France,63.951,2833687,640679,0.888,Europe,English
2,Germany,80.940,3874437,357114,0.916,Europe,English
3,Italy,60.665,2167744,301336,0.873,Europe,English
4,Japan,127.061,4602367,377930,0.891,Asia,English
5,United Kingdom,64.511,2950039,242495,0.907,Europe,English
6,United States,318.523,17348075,9525067,0.915,America,English

---
### Перейменування стовпців

In [ ]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    })

,Name,Population,GDP,Surface Area,Human Development Index,Continent,Language
0,Canada,35.467,1785387,9984670,0.913,America,English
1,France,63.951,2833687,640679,0.888,Europe,English
2,Germany,80.940,3874437,357114,0.916,Europe,English
3,Italy,60.665,2167744,301336,0.873,Europe,English
4,Japan,127.061,4602367,377930,0.891,Asia,English
5,United Kingdom,64.511,2950039,242495,0.907,Europe,English
6,United States,318.523,17348075,9525067,0.915,America,English

---
### Видалення стовпців

In [ ]:
df.drop(columns='Language', inplace=True)

In [ ]:
df

             Name  Population       GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387       9984670  0.913   America
1          France      63.951   2833687        640679  0.888    Europe
2         Germany      80.940   3874437        357114  0.916    Europe
3           Italy      60.665   2167744        301336  0.873    Europe
4           Japan     127.061   4602367        377930  0.891      Asia
5  United Kingdom      64.511   2950039        242495  0.907    Europe
6   United States     318.523  17348075       9525067  0.915   America

---
### Зміна індексу

In [ ]:
df.set_index('Name')

                Population       GDP  Surface Area    HDI Continent
Name
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

## Створення стовпців з інших стовпців

Зміна DataFrame часто передбачає поєднання різних стовпців в інші. Наприклад, у нашому аналізі країн ми могли б спробувати обчислити «ВВП на душу населення», що означає просто `GDP / Population`.

In [ ]:
df[['GDP', 'Population']]

   Population       GDP
0      35.467   1785387
1      63.951   2833687
2      80.940   3874437
3      60.665   2167744
4     127.061   4602367
5      64.511   2950039
6     318.523  17348075

In [ ]:
df['GDP'] / df['Population']

0    50339.385908
1    44310.284437
2    47868.013343
3    35733.025633
4    36221.712406
5    45729.239975
6    54464.120330
dtype: float64

Результатом цієї операції є ще одна `Series`, яку ви можете додати до оригінального `DataFrame`:

In [ ]:
df['GDP Per Capita'] = df['GDP'] / df['Population']

In [ ]:
df

,Name,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
0,Canada,35.467,1785387,9984670,0.913,America,50339.385908
1,France,63.951,2833687,640679,0.888,Europe,44310.284437
2,Germany,80.940,3874437,357114,0.916,Europe,47868.013343
3,Italy,60.665,2167744,301336,0.873,Europe,35733.025633
4,Japan,127.061,4602367,377930,0.891,Asia,36221.712406
5,United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
6,United States,318.523,17348075,9525067,0.915,America,54464.120330

In [ ]:
df['Continent'].isnull()

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: Continent, dtype: bool

Для видалення всіх рядків, які мають хоча б одне пропущене значення можна використати метод `dropna`. Після цього бажано перевірити кількість рядків, що залишились.

In [ ]:
df.dropna()

,Name,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
1,France,63.951,2833687,640679.0,0.888,Europe,44310.284437
3,Italy,60.665,2167744,301336.0,0.873,Europe,35733.025633
4,Japan,127.061,4602367,377930.0,0.891,Asia,36221.712406
6,United States,318.523,17348075,9525067.0,0.915,America,54464.120330

Для видалення рядків, які мають пропуск в конкретному стовпці, можна використати логічну маску.

In [ ]:
df[~df['Continent'].isnull()]

,Name,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
1,France,63.951,2833687,640679.0,0.888,Europe,44310.284437
2,Germany,80.940,3874437,NaN,0.916,Europe,NaN
3,Italy,60.665,2167744,301336.0,0.873,Europe,35733.025633
4,Japan,127.061,4602367,377930.0,0.891,Asia,36221.712406
5,United Kingdom,64.511,2950039,NaN,0.907,Europe,45729.239975
6,United States,318.523,17348075,9525067.0,0.915,America,54464.120330